*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: blue;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  /* position: relative; */
}

.header-container {
  background-color: blueviolet;
}

.card-container {
  margin: 8px;
  background-color: aqua;
  width: 20rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card-top {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.card-middle {
  background-color: white;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 8rem;
  background-color: aliceblue;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}
