*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* border: 0; */
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  /* position: relative; */
}

.header-container {
}

.content-card {
  margin: 12px 0;
  width: 20rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.content-card-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.content-card-local {
  margin: 4px;
  display: flex;
  align-items: center;
}
.content-card-bookmark {
  display: flex;
  align-items: center;
  margin: 4px;
}

.status1 {
  background-color: blue;
}
.status2 {
  background-color: green;
}
.status3 {
  background-color: yellow;
}
.status4 {
  background-color: orange;
}
.status5 {
  background-color: red;
}
.icon {
  color: white;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 8rem;
  background-color: white;
  padding: 4px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}
.footer-contents {
  border: 1px solid skyblue;
  border-radius: 8px;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
}